
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Se connecter | SAIM LTD</title>
    <meta name="description" content="Test SAIM LTD - Ronaldo Andrianandrasana">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="~/Assets/favicon.png">
    <link rel="shortcut icon" href="~/Assets/favicon.png">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/themify-icons.css">
    <link rel="stylesheet" href="~/Content/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="~/Content/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="~/Assets/SAIM_LOGO.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form>
                        <div class="form-group">
                            <label>Adresse email</label>
                            <input type="email" class="form-control" placeholder="Entrer votre adresse email">
                        </div>
                        <div class="form-group">
                            <label>Mot de passe</label>
                            <input type="password" class="form-control" placeholder="Entrer votre mot de passe">
                        </div>
                        <button type="submit" style="background-color: #de7158 !important" class="btn btn-success btn-flat m-b-30 m-t-30">Se connecter</button>
                        <div class="register-link m-t-15 text-center">
                            <p>Vous n'avez pas encore un compte? <a href="#"> S'inscrire</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/main.js"></script>

</body>
</html>
