<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.title | SAIM LTD</title>
    <meta name="description" content="Test SAIM LTD - Ronaldo Andrianandrasana">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="~/Assets/favicon.png">
    <link rel="shortcut icon" href="~/Assets/favicon.png">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/themify-icons.css">
    <link rel="stylesheet" href="~/Content/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.matchHeight.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/main.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li id="menu_nos_clients" class="active">
                        <a href="/home/customers"><i class="menu-icon fa fa-users"></i>Nos clients </a>
                    </li>
                    <li id="menu_ajouter" class="">
                        <a href="/customer/add"><i class="menu-icon fa fa-plus"></i>Ajouter des clients </a>
                    </li>
                </ul>
            </div>
        </nav>
    </aside>

    <div id="right-panel" class="right-panel">
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="~/Assets/SAIM_LOGO.png" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="user-area float-right">
                        <a href="#" class="active">
                            <img class="user-avatar rounded-circle" src="~/Assets/Admin-icon.png" alt="SAIM Avatar">
                        </a>
                    </div>
                    @*<div>
                            <span>SAIM LTD</span>
                        </div>*@
                </div>
            </div>
        </header>
        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    @if (ViewBag.error != null || ViewBag.success != null)
                    {
                        <div class="col-md-12">
                            @if (ViewBag.error != null)
                            {
                                <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                    <span class="badge badge-pill badge-danger">Erreur</span>
                                    @ViewBag.error
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            }
                            else if (ViewBag.success != null)
                            {
                                <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                                    <span class="badge badge-pill badge-danger">Succès</span>
                                    @ViewBag.success
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            }
                        </div>
                    }
                    @RenderBody()
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Test SAIM LTD - Ronaldo Andrianandrasana
                    </div>
                    <div class="col-sm-6 text-right">
                        Télécharger le code source: <a href="https://github.com/ronaldoandrian/test_saimltd/archive/master.zip"><i class="fa fa-github"></i></a> ou <a href="#"><i class="fa fa-cloud-download"></i></a>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>
