
@{
    ViewBag.Title = "Ajouter un client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                Ajouter un client
            </div>
            <div class="card-body card-block">
                <form action="/customer/addcustomer" method="post" onsubmit="return confirm('Confirmer l\'envoie du formulaire!');" enctype="multipart/form-data" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="" form-control-label">Denomination</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="denomination" required placeholder="Entrer le nom de la société" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="" form-control-label">Adresse</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="adresse" placeholder="Entrer l'adresse de la société" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="" form-control-label">Téléphone</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="telephone" placeholder="Entrer le numéro téléphone" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="" form-control-label">Mail</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="mail" placeholder="Entrer l'adresse mail" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="" form-control-label">SIREN</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="siren" placeholder="Entrer le numéro SIREN" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="" form-control-label">Activité</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="activite" placeholder="Entrer l'activité de la société" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="" form-control-label">Capital</label></div>
                        <div class="col-12 col-md-9"><input type="number" id="text-input" name="capital" min="0" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="" form-control-label">Forme juridique</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="forme_juridique" placeholder="SARL/SA/SARLU/EURL/..." class="form-control"></div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary" style="cursor: pointer;">
                            <i class="fa fa-plus"></i> Ajouter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script type="text/javascript">
    var menu_nos_clients = document.getElementById("menu_nos_clients");
    if (menu_nos_clients) menu_nos_clients.classList.remove('active');
    var menu_ajouter = document.getElementById("menu_ajouter");
    if (menu_ajouter) menu_ajouter.classList.add('active');
</script>